*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  width: 100%;
}

body {
  background: url(images/v02.jpg);
  background-size: cover;
  color: $font-color;
  font-family: $body-font;
  font-size: $font-size;
  line-height: $line-height;
  @include at-breakpoint($medium) {
    background: transparent;
  }
  @include at-breakpoint($large) {
    font-size: 120%;
  }
}

.wrapper {
  margin-bottom: -$footer-height;
  min-height: 100%;
  &:after {
    content: "";
    display: block;
    height: $footer-height;
  }
}

img {
  display: block;
  max-width: 100%;
}

.container-fluid {
  max-width: $container-fluid;
}

.container-slim {
  margin: 0 auto;
  max-width: $container-slim;
}

.float-right {
  float: right;
}

.float-left {
  float: left;
}

.pad-top {
  padding-top: $spacer-large;
}

.pad-bottom {
  padding-bottom: $spacer-large;
}

.pad-sides {
  padding-left: $spacer;
  padding-right: $spacer;
}

.visible-medium {
  display: none;
  @include at-breakpoint($medium) {
    display: inherit;
  }
}
