@font-face {
  font-family: 'caviar dreams';
  font-style: normal;
  font-weight: normal;
  src: url('fonts/caviar-dreams/CaviarDreams-webfont.eot');
  src: url('fonts/caviar-dreams/CaviarDreams-webfont.eot?#iefix') format('embedded-opentype'),
       url('fonts/caviar-dreams/CaviarDreams-webfont.woff') format('woff'),
       url('fonts/caviar-dreams/CaviarDreams-webfont.ttf') format('truetype'),
       url('fonts/caviar-dreams/CaviarDreams-webfont.svg#caviar_dreamsregular') format('svg');

}

@font-face {
  font-family: 'caviar dreams';
  font-style: normal;
  font-weight: bold;
  src: url('fonts/caviar-dreams-bold/Caviar_Dreams_Bold-webfont.eot');
  src: url('fonts/caviar-dreams-bold/Caviar_Dreams_Bold-webfont.eot?#iefix') format('embedded-opentype'),
       url('fonts/caviar-dreams-bold/Caviar_Dreams_Bold-webfont.woff') format('woff'),
       url('fonts/caviar-dreams-bold/Caviar_Dreams_Bold-webfont.ttf') format('truetype'),
       url('fonts/caviar-dreams-bold/Caviar_Dreams_Bold-webfont.svg#caviar_dreamsbold') format('svg');
}

@font-face {
  font-family: 'caviar dreams';
  font-style: italic;
  font-weight: normal;
  src: url('fonts/caviar-dreams-italic/CaviarDreams_Italic-webfont.eot');
  src: url('fonts/caviar-dreams-italic/CaviarDreams_Italic-webfont.eot?#iefix') format('embedded-opentype'),
       url('fonts/caviar-dreams-italic/CaviarDreams_Italic-webfont.woff') format('woff'),
       url('fonts/caviar-dreams-italic/CaviarDreams_Italic-webfont.ttf') format('truetype'),
       url('fonts/caviar-dreams-italic/CaviarDreams_Italic-webfont.svg#caviar_dreamsitalic') format('svg');
}

@font-face {
  font-family: 'caviar dreams';
  font-style: italic;
  font-weight: bold;
  src: url('fonts/caviar-dreams-bolditalic/CaviarDreams_BoldItalic-webfont.eot');
  src: url('fonts/caviar-dreams-bolditalic/CaviarDreams_BoldItalic-webfont.eot?#iefix') format('embedded-opentype'),
       url('fonts/caviar-dreams-bolditalic/CaviarDreams_BoldItalic-webfont.woff') format('woff'),
       url('fonts/caviar-dreams-bolditalic/CaviarDreams_BoldItalic-webfont.ttf') format('truetype'),
       url('fonts/caviar-dreams-bolditalic/CaviarDreams_BoldItalic-webfont.svg#caviar_dreamsbold_italic') format('svg');
}
