.nav {
  background: rgba(255, 255, 255, .7);
  width: 100%;
  height: $header-height;
}

.nav-items {
  position: absolute;
  top: -$nav-height;
  left: 0;
  background: $black;
  width: 100%;
  a {
    display: block;
    height: $nav-link-height;
    line-height: $nav-link-height;
    color: $white;
    padding: 0 $spacer;
    text-decoration: none;
    border-bottom: $border-width solid $gray;
    text-transform: lowercase;
    font-family: $header-font;
  }
  @include at-breakpoint($medium) {
    float: right;
    position: static;
    background: none;
    width: 32.5em;
    a {
      height: 100%;
      line-height: $header-height;
      border-bottom: none;
      color: $black;
      padding: 0;
      margin-right: $spacer;
      float: left;
    }
  }
}

.brand,
.nav-control {
  display: block;
  float: left;
  line-height: $header-height;
  margin-right: $spacer;
  font-family: $header-font;
  text-transform: lowercase;
  color: $black;
  text-decoration: none;
  &:hover {
    color: $black;
  }
}

.brand {
  font-weight: bold;
  margin-left: $spacer;
  margin-right: 0;
}

.nav-control {
  font-weight: bold;
  float: right;
  cursor: pointer;
  @include at-breakpoint($medium) {
    display: none;
    visibility: hidden;
  }
}
