footer {
  color: $black;
  font-family: $header-font;
  height: $footer-height;
  padding: $spacer-small $spacer;
  text-align: right;
}

.copyright {
  font-size: $font-size-small;
  line-height: 1.2em;
  margin: 0;
  opacity: .5;
  transition-duration: $duration;
  transition-property: opacity;
  &:hover {
    opacity: 1;
  }
}
